@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminModel

@{
    ViewData["Title"] = "Admin";
    Layout = "Shared/_Layout";
}

<div>
    <h1>
        Admin panel
    </h1>
    <p>Users registered in the database</p>
    <select id="select" onchange="setSelectedUser()">
        @foreach(var user in Model.Users)
        {
            <option value="@user.Id" data-authorid="@user.AuthorId" data-email="@user.Email" data-cheeps="@user.Cheeps">@user.UserName</option>
        }
    </select>
    <div><textarea id="textarea" rows="3" cols="40"></textarea></div>
    <form method="post" asp-page-handler="DeleteUser">
        <input type="hidden" asp-for="selectedUserID" name="selectedUserId" id="selectedUserId"/>
        <button type="submit">Delete User</button>
    </form>
    <br/>
    <br/>
    <br/>
    <form method="post" asp-page-handler="ResetDatabase">
        <button type="submit">Reset Database</button>
    </form>
</div>

@section Scripts {
    <script>
        function setSelectedUser() {
            var select = document.getElementById("select");
            var selectedValue = select.options[select.selectedIndex].value;
            document.getElementById("selectedUserId").value = selectedValue;
            fillSelectedUserInfo()
        }
        function fillSelectedUserInfo() {
            var select = document.getElementById("select");
            var selectedValue = select.options[select.selectedIndex];
            var authorId = selectedValue.getAttribute("data-authorid");
            var email = selectedValue.getAttribute("data-email");
            document.getElementById("textarea").value = "Author ID: " +authorId + "\nEmail: " + email;
        }
    </script>
}