@page "{username}"
@model Chirp.Web.Pages.About.PersonalDataVaultModel
@{
    ViewData["Title"] = "Personal Data Vault";
}

<h2>@ViewData["Title"]</h2>
<p>Welcome, @Model.Username!</p>
<p>this page shows all the good personal information we have on you.</p>

<table class="table">
    <thead>
        <tr>
            <th>Detail</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonalDataItems)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

<form method="post" id="cheepsForm">
    <button id="Cheeps" type="submit" asp-page-handler=@Model.ButtonFunction>@Model.ButtonText</button> 
    <button id="Download" type="submit" asp-page-handler="DownloadData">Download my data</button>
    <button id="Delete" type="submit" asp-page-handler="DeleteData" class="btn btn-danger">Delete my data</button>
</form>



@section Scripts {
    <script>
    </script>
}